@charset "utf-8";

       #container .pagination ul li.inactive,
            #container .pagination ul li.inactive:hover{
                background-color:#FFF;
                color:#999;
                border:1px solid #DDD;
                cursor: not-allowed;
				
            }
            #container .data ul li{
                list-style: none;
                font-family: verdana;
                margin: 5px 0 5px 0;
                color: #666;
                font-size: 13px;
				
            }

            #container .pagination{
              
              /*  height: 25px;*/
			/*	margin: 5px 0px;*/
				/*margin-left:1.7em;*/
            }
			#container .pagination ul{/*width:100%;*/}
            #container .pagination ul li{
                list-style: none;
                float: left;
                border: 1px solid #DDD;
                padding:6px 12px;
				
                /*margin: 0 3px 0 3px;*/
				line-height: 1.42857;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #666;
				box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.09) inset;
                
                background-color: #FAFAFA ;
            }
            #container .pagination ul li:hover{
                color: #666;
                background-color: #EEE;
                cursor: pointer;
            }
			.go_button
			{
			background-color:#FAFAFA;border:1px solid #DDD;color:#666;padding:2px 6px 2px 6px;cursor:pointer;
			margin-left:2px;
			}
			.total
			{
			color:#999;font-size:14px;margin-left:2px;
			}
			 #container  #all{
				
				float:right;
				margin:20px 0px;
			
			}
			.total_rec
			{
			color:#666;
			}

.not-active {
   pointer-events: none;
   cursor: default;
}